.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 104px;
  padding-bottom: 104px;
  width: 100%;
  max-width: 1136px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}