.button-close {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20%, -20%);
}

.button-close__line {
  width: 15px;
  height: 2px;
  position: absolute;
  background-color:#000000;
  border-radius: 5px;
}

.button-close__line:first-child {
  transform: rotate(45deg);
}

.button-close__line:last-child {
  transform: rotate(-45deg);
}